

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <center>
        <h1>Indice</h1>
            @Html.ActionLink("Link AutoProperty", "AutoProperty");<br />
            @Html.ActionLink("Link CreateCollection", "CreateCollection");<br />
            @Html.ActionLink("Link useExtension", "useExtension");<br />

            </center>

    </div>
</body>
</html>
